* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  font-family: "Merriweather", serif;
  background-color: #dfe8eb;
}

/******* NAVBAR *******/

.header {
  width: 100%;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 128px;
  width: 100%;
  min-height: 70px;
  background-color: #dfe8eb;
}

.logo a {
  font-size: 22px;
  font-weight: 600;
  cursor: pointer;
  color: #4a83b5;
  padding: 28px 200px 28px 28px;
  font-family: "Merriweather", serif;
}

/******* NAVBAR BUTTON *******/

.nav-btn {
  align-self: center;
  cursor: pointer;
  display: none;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  margin: 0.5rem;
  background: #4a83b5;
  transition: all 0.3s ease;
  border-radius: 5px;
}

.change .bar1 {
  transform: rotate(-45deg) translate(-10px, 10px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: rotate(45deg) translate(-7px, -8px);
}

/******* RESPONSIVE LINKS *******/

.res-nav-links {
  list-style-type: none;
  transition: all 1s ease;
  height: 0;
  overflow: hidden;
}

.nav-collapse {
  height: 240px;
}

.responsive-link {
  display: block;
  background: transparent;
  padding: 1rem;
  font-size: 21px;
  text-decoration: none;
  text-transform: capitalize;
  color: #4a83b5;
  transition: all 1s ease;
  cursor: pointer;
}

.responsive-link:hover {
  padding-left: 1.5rem;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 30%;
  font-size: 1.5rem;
  padding-left: 150px;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: #4a83b5;
  text-decoration: none;
  font-size: 20px;
}

a {
  color: #4694b3;
  font-family: "Montserrat", sans-serif;
  margin: 10px 20px;
  text-decoration: none;
  font-size: 21px;
}

a:hover {
  color: #365866;
}

/******* PROJECTS CONTANIER *******/

.projects-container {
  padding: 100px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2 {
  color: #1e6782;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: normal;
  padding-top: 20px;
  padding-bottom: 20px;
}

.projects {
  width: 50%;
  height: 50%;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.projects-images {
  width: 100%;
  height: 300px;
  display: block;
  object-fit: cover;
  border-radius: 5%;
}

/******* VIEW PROJECT BUTTON *******/

.view-project {
  text-align: center;
  text-decoration: none;
  margin-top: 30px;
  margin-right: 10px;
  display: inline-block;
  background: #4694b3;
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 18px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.view-project:hover {
  color: white;
  background: #1e6782;
}

hr {
  border: dotted #dfe8eb 6px;
  border-bottom: none;
  width: 4%;
  margin: 70px auto;
}

p {
  line-height: 2;
  font-size: 16px;
  padding-bottom: 20px;
}

/******* BOTTOM CONTANIER *******/

.bottom-container {
  background: #dfe8eb;
  padding: 50px 0 0px;
  height: 200px;
}

.footer-link a {
  padding: 30px;
  font: 10px;
}

.copyright {
  color: #4694b3;
  padding: 30px 100px;
}

/* ******** FADING IMAGES ******* */

.fade-container {
  width: 600px;
  height: 350px;
  position: relative;
  margin: auto;
}

.fade-container img {
  width: 100%;
  height: 100%;
}

.fade::after {
  content: "";
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  letter-spacing: 5px;
  background: black;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.5 ease;
  border-radius: 5%;
}

.fade:hover::after {
  opacity: 0.5;
}

.tesla::after {
  content: "TESLA ROADSTER";
  /* letter-spacing: 5px; */
}

.arce-group::after {
  content: "ARCE GROUP";
  /* letter-spacing: 5px; */
}

.e-shop::after {
  content: "CRAFTY CART";
  /* letter-spacing: 5px; */
}

/******* MEDIA QUERIES *******/

@media (max-width: 1200px) {
  .logo a {
    font-size: 1em;
  }

  a {
    font-size: 1.5em;
  }

  .view-project {
    font-size: 1em;
  }

  h2 {
    font-size: 2em;
    margin: auto;
  }

  h3 {
    font-size: 2em;
    margin: auto;
    margin-bottom: 1em;
  }

  p {
    font-size: 1em;
    text-align: center;
    display: inline-block;
  }
  .fade-container {
    height: 60%;
    width: 80%;
  }
}

@media (max-width: 1100px) {
  .nav-btn {
    align-self: center;
    cursor: pointer;
    display: inline-block;
    margin-left: 10em;
  }

  .nav-links {
    display: none;
    cursor: pointer;
  }

  .logo a {
    line-height: 2em;
    font-size: 1.5em;
  }

  .responsive-link {
    font-size: 2em;
  }

  a {
    font-size: 2em;
  }

  .view-project {
    font-size: 1.5em;
  }

  p {
    font-size: 1.2em;
    text-align: center;
    display: inline-block;
  }

  h2 {
    font-size: 2.5em;
    margin: auto;
  }

  .projects {
    width: 80%;
    text-align: center;
  }

  hr {
    width: 10%;
  }

  .bottom-container {
    height: 200px;
  }
  .fade-container {
    height: 60%;
    width: 80%;
  }
}

@media (max-width: 990px) {
  .logo a {
    font-size: 2em;
  }

  h2 {
    font-size: 3em;
  }

  p {
    font-size: 2em;
  }

  a {
    font-size: 2.5em;
  }

  .view-project {
    font-size: 2em;
  }

  .fade-container {
    height: 60%;
    width: 80%;
  }
}

@media (max-width: 760px) {
  .logo a {
    padding: 5px;
    font-size: 1.5em;
  }
  .fade-container {
    height: 60%;
    width: 80%;
  }
}

@media (max-width: 550px) {
  .header {
    width: 100%;
  }

  .logo a {
    padding: 5px;
    font-size: 1.5em;
  }

  .bar {
    font-size: 5px;
  }

  h2 {
    font-size: 2em;
  }

  p {
    font-size: 1em;
  }

  a {
    font-size: 1.5em;
  }

  .view-project {
    font-size: 1em;
  }

  .fade-container {
    height: 60%;
    width: 80%;
  }
}
